#!/usr/bin/make -f

clean:
	dh_testdir
	dh_testroot
	dh_clean

build:

install: build

binary-arch: install

binary-indep: install
	dh_testdir
	dh_testroot

	dh_installdirs
	dh_install
	dh_installinit -i --no-start -- start 03 S .
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
